/* ==== 
 --------- (2.3) global styles start ---------
 ==== */

img {
    max-width: 100%;
    height: auto;
}

.fluid_img {
    max-width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
}

.unset {
    max-width: unset;
}

.bg-img {
    @include background($primary-color, no-repeat, cover, center center);
}

.dir-rtl {
    direction: rtl;
}

// slick-slide
.slick-slide {
    margin: 0px 12px;

    img {
        display: block;
    }
}

.slick-list {
    margin: 0px -12px;
}

.slick-arrow[aria-disabled="true"] {
    opacity: 0.4 !important;
}

// review 
.star_review {
    color: #DFDFDF;
    display: flex;
    gap: 6px;

    .star_active {
        color: $primary-color;
    }
}

// custom class
.section {
    padding: 120px 0px;
}

.section--space-top {
    padding-bottom: 0px;
}

.section--space-bottom {
    padding-top: 0px;
}

.section__cta {
    margin-top: 60px;
    text-align: center;
}



i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

// section header
.section__header {
    text-align: center;
    margin-bottom: 60px;

    .section__header-sub-title {
        color: $primary-color;
        margin-bottom: 30px;
    }

    .section__header-title {
        margin-bottom: 30px;
    }

    .section__header-content {
        max-width: 55ch;
        margin: 0 auto;
    }
}


// section content
.section__content {

    .section__content-sub-title,
    .banner__content-sub-title {
        margin-bottom: 30px;
        color: $primary-color;
    }

    .section__content-title,
    .banner__content-title {
        margin-bottom: 30px;
        max-width: 20ch;
    }

    .section__content-text,
    .banner__content-text {
        margin-bottom: 30px;

        &:nth-last-of-type(1) {
            margin-bottom: 0px;
        }
    }

    .section__content-text-content,
    .banner__content-text-content {
        margin-bottom: 30px;

        &:nth-last-of-type(1) {
            margin-bottom: 0px;
        }
    }

    .section__content-inner,
    .banner__content-inner {
        margin-top: 44px;

        ul {
            display: flex;
            align-items: center;
            row-gap: 30px;
            column-gap: 20px;
            flex-wrap: wrap;

            li {
                width: calc(50% - 10px);
                display: flex;
                align-items: center;
                gap: 12px;
                font-weight: 500;

                i {
                    color: $primary-color;
                }

                span {
                    @include box(32px);
                    background: $quaternary-color;
                    color: $primary-color;
                }
            }
        }
    }

    .section__content-cta,
    .banner__content-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        row-gap: 15px;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}

// additional class
.between_part {
    display: flex;
    gap: 24px;
    align-items: center;
}

.space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .Custom Gap
.customGapThree {
    gap: 32px;
}

.customGapTwo {
    gap: 20px;
}

.customGapOne {
    gap: 12px;
}

// grid span
.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

// theme color
.theme_color {
    color: $primary-color;
}

.word .letter{
    color: $primary-color;
}

// animations
@keyframes pulse {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1.0);
    }

    100% {
        transform: rotate(30deg) scale(1.5);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg) scale(1);
    }

    30% {
        transform: rotate(-30deg) scale(0.8);
    }

    60% {
        transform: rotate(-90deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(0.7);
    }

    100% {
        transform: rotate(120deg) scale(1);
    }
}

.slider-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    .news__dots-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        & li {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            cursor: pointer;
            background: #B5B5B5;
            transition: $transition;

            &.slick-active {
                background: $primary-color;
                color: $white;
            }

            &:hover {
                background: $primary-color;

                i {
                    color: $white;
                }
            }
        }
    }

    .pagination-button {
        @include box(40px);
        padding: 0px;
        background: #B5B5B5;
        border-radius: 0;

        i {
            color: $white;
        }

        &:hover {
            background: $primary-color;

            i {
                color: $white;
            }
        }
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;

    a {
        @include box(30px);
        border: 1px solid $white;
        background-color: transparent;
        font-size: 14px;

        i {
            color: $white;
        }

        &:hover {
            background-color: $white;

            i {
                color: $primary-color;
            }
        }
    }
}

// play btn
.play-btn-wrapper {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;

    .video-main {
        position: relative;
        display: inline-block;
    }

    .video {
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 100%;
        @include box(50px);
        background: transparent;
        color: #fff;
        display: inline-block;
        background: #000000;
        z-index: 999;
    }
}

@keyframes play-waves {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5, 1.5);
        opacity: 0;
    }
}

.fa-play:before {
    content: "\f04b";
}

.waves {
    position: absolute;
    width: 150px;
    height: 150px;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    border-radius: 100%;
    right: -50px;
    bottom: -50px;
    z-index: -1;
    animation: waves 3s ease-in-out infinite;
}

.wave-1 {
    animation-delay: 0s;
}

.wave-2 {
    animation-delay: 1s;
}

.wave-3 {
    animation-delay: 2s;
}

.play-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .play-btn {
        @include box(50px);
        background-color: $primary-color;
        color: $white;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            width: calc(100% + 15px);
            height: calc(100% + 15px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -1;
            background-color: rgba(12, 169, 64, 0.4);
            animation: play-waves 3s ease-in-out infinite;
            animation-delay: 1s;
        }

        &::after {
            content: "";
            position: absolute;
            width: calc(100% + 30px);
            height: calc(100% + 30px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: -2;
            background-color: rgba(255, 255, 255, 0.7);
            animation: play-waves 3s ease-in-out infinite;
        }
    }
}

// pagination
.nav_pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .pagination {
        gap: 1rem;
    }

    .page-item .page-link {
        @include box(42px);
        border-radius: 0px;
        color: $white;
        border: none;
        background-color: #B5B5B5;
        font-size: $font-size;

        &:hover {
            background-color: $primary-color;
        }

        &:focus {
            box-shadow: none;
        }

        &.active {
            background: $primary-color;
        }
    }
}

.slick-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 60px;

    button {
        display: block;
        width: 16px;
        height: 16px;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #D9D9D9;
        text-indent: -9999px;
    }

    .slick-active button {
        background: $primary-color;
        z-index: 9;
    }

}

/* ==== 
   --------- (2.3) global styles end ---------
   ==== */